!!! 5
%html
	%head
		%title Count-Min Sketch
		%meta{:charset => "utf-8"}

		-# CSS files
		%link{ :rel => "stylesheet", :href => "css/jquery-ui.css" }
		%link{ :rel => "stylesheet", :href => "css/qunit.css" }
	%body
		#qunit
		%ol#qunit-tests
		#qunit-fixture
		%footer
			-# jQuery files
			%script{ :src => "js/jquery.js" }
			%script{ :src => "js/jquery-ui.js" }

			-# CM-Sketch jQ files
			%script{ :src => "js/ds-array.js" }
			%script{ :src => "js/script.js" }
			%script{ :src => "js/qunit.js" }
			%script{ :src => "js/tests.js" }